{% extends "layout.html" %}

{% block title %}首頁{% endblock %}

{% block content %}

<div class="card p-4 shadow">

    <h3 class="text-center mb-3">抽直屬系統</h3>

    <form action="/submit" method="POST">

        <input class="form-control mb-2" name="student_id" placeholder="學號" required>

        <input class="form-control mb-2" name="name" placeholder="姓名" required>

        <select class="form-control mb-2" name="gender">
            <option>男</option>
            <option>女</option>
        </select>

        <select class="form-control mb-3" name="region">
            <option>北部</option>
            <option>中部</option>
            <option>南部</option>
        </select>

        <button class="btn btn-success w-100">開始選句子</button>

    </form>

</div>

{% endblock %}


<a href="/login">
    <button>管理員登入</button>
</a>

<a href="/admin">
    <button>進入管理系統</button>
</a>