<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>管理員登入</title>

    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        input {
            padding: 10px;
            margin: 10px;
            width: 200px;
        }

        button {
            padding: 10px 20px;
            background: black;
            color: white;
            border: none;
        }
    </style>
</head>

<body>

<h2>管理員登入</h2>

<form method="POST">

    <input name="username" placeholder="帳號"><br>
    <input name="password" type="password" placeholder="密碼"><br>

    <button type="submit">登入</button>

</form>

</body>
</html>